.jumbotron {
  p {
    font-weight: 300;
  }
}

$footer-background: $gray-dark;
html {
  background-color:$footer-background;
}

.navbar-brand {
  font-weight:800;
  text-transform:uppercase;
  letter-spacing:1px;
  position:relative;
  
  &:before {
    content:'Open Knowledge';
    display:block;
    font-size:11px;
    color:$brand-primary;
    margin-top:-2px;
    line-height:1;
    letter-spacing:2px;
  }
  
  .release-phase {
    position:absolute;
    right:$base-spacing;
    display:block;
    font-size:11px;
    top:20px;
    opacity:0.5;
  }
}

.navbar {
  .container {
    position:relative;
    
    .open-knowledge {
      width:80px;
      height:100px;
      position:absolute;
      right: $base-spacing;
      background-image:url(http://assets.okfn.org/images/ok-ribbon.svg);
      background-size:80px auto;
      text-indent:-99999em;
      overflow:hidden;
      top:-3px;
    }
  }
}


#okf-panel {
  position:absolute;
  top:-120px;
  @media (min-width: $screen-sm-min) {
    position:relative;
    top:0;
  }
  
  & + .navbar {
    border-top:solid 3px $brand-primary;
  }
  
  & > iframe {
    width: 100%;
    height: 120px;
    overflow: hidden;
    border: 0
  }
}

@import "footer";
